*
{
    margin: 0;
    padding: 0;
}
body
{
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
    -ms-text-size-adjust: none;
    font-family:"微软雅黑";
	background:white;
	color:#444444;
}
table
{
    width: 100%;
    height: 100%;
    border: none;


}
img
{
    border: none;
    max-width: 100%;
}
select
{
    height: 30px;
    line-height: 29px;
    font-size: 16px;
    color: #295ab4; /* 	line-height: normal;     -webkit-appearance:none; 	-moz-appearance:none; 	-o-appearance:none; 	-ms-appearance:none;*/
}
input
{
    font-size: 16px;
}
input[type="text"], input[type="password"]
{
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    color: Black;
    background-color: #fff;
    padding: 0 5px;
    border: 1px solid #9A9A9A;
    box-shadow: inset 0px 1px 0px rgba(229,229,229,1);
    -webkit-box-shadow: inset 0px 1px 0px rgba(229,229,229,1);
    -moz-box-shadow: inset 0px 1px 0px rgba(229,229,229,1);
    -o-box-shadow: inset 0px 1px 0px rgba(229,229,229,1);
    -ms-box-shadow: inset 0px 1px 0px rgba(229,229,229,1);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
}
input:disabled
{
    color: #9A9A9A !important;
}
a
{
    outline: none;
    color: #295ab4;
    text-decoration: none;
}
a.btn_usual, a.btn_press
{
    display: inline-block;
    text-decoration: none;
    width: 80px;
    height: 26px;
    background-size: 80px 26px;
    -webkit-background-size: 80px 26px;
    -moz-background-size: 80px 26px;
    text-align: center;
    line-height: 26px;
}
a.btn_usual
{
    background-repeat: no-repeat;
}
a.btn_press
{
    background-repeat: no-repeat;
}


body > div[selected="true"]
{
    display: block;
}
#WaitingBlock
{
    position: absolute;
    left: 0;
    top: 45px;
    padding-top: 150px;
    background: transparent;
    text-align: center;
}
#WaitingBlock .waiting
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    -moz-background-size: 16px 16px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}
#WorkArea
{
}

.box
{
    color: #424348;
    margin: 10px 6px;
    border: 1px solid #CACACA;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 1px #fff;
    -moz-box-shadow: 0 1px 1px #fff;
    -webkit-box-shadow: 0 1px 1px #fff;
    -o-box-shadow: 0 1px 1px #fff;
    -ms-box-shadow: 0 1px 1px #fff;
    overflow: hidden;
}
.box .row
{
    width: 100%;
    font-size: 16px;
}
.box .row table
{
    width: 100%;
    font-size: 16px;
    border: none;
    border-collapse: collapse;
}
.box .row table td
{
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
}
select.select100
{
    font-size: 16px;
    height: 30px;
    width: 100%;
}

select.select100px
{
    font-size: 16px;
    height: 30px;
    width: 116px;
}

.input100
{
    height: 25px;
    width: 95%;
    font-size: 16px;
}
.input50
{
    height: 25px;
    width: 50%;
}
.input100px
{
    height: 25px;
    width: 128px;
    font-size: 16px;
}
.money
{
    color: #295ab4;
    font-weight: bold;
    font-family:"΢���ź�";
}
.num
{
    font-family: Arial;
}
.gray
{
    color: #a1a2a2;
}
.title
{
    font-weight: bold;
    color: #424348;
    text-shadow: 1px 0 1px #fff;
    line-height: 30px;
    padding-left: 10px;
}

.line
{
    border-top: 1px solid #CACACA;
    box-shadow: 0 1px 1px #fff;
    -webkit-box-shadow: 0 1px 1px #fff;
    -moz-box-shadow: 0 1px 1px #fff;
    height: 0;
}
.rowbtn
{
    background-color: Transparent;
    border: none 0px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    padding-right: 10px;
}
.a_l, .a_c, .a_r
{
    line-height: 30px;
}
.a_l
{
    text-align: left;
    padding: 8px 0px;
    padding-left: 10px;
    min-width: 50px;
}
.a_c
{
    padding: 8px 10px;
}
.a_r
{
    text-align: right;
    padding: 8px 0px;
    padding-right: 10px;
}
.a_prev, .a_mid
{
    padding-bottom: 0px;
}
.a_last, .a_mid
{
    padding-top: 0px;
}
.cen
{
    text-align: center;
}
#Remark, .note
{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border: 1px solid #e8cd83;
    padding: 20px 10px;
    color: #4f5154;
    font-size: 14px;
    line-height: 24px;
    background: #f8f1b8;
    background: -webkit-linear-gradient(top, #f8f1b8 0%, #faebae);
    background: -moz-linear-gradient(top, #f8f1b8 0%, #faebae);
    background: -o-linear-gradient(top, #f8f1b8 0%, #faebae);
    background: -ms-linear-gradient(top, #f8f1b8 0%, #faebae); /* 	background: -moz-gradient(linear, left top, left bottom, from(#f8f1b8),to(#faebae)); 	background: -o-gradient(linear, left top, left bottom, from(#f8f1b8),to(#faebae)); 	background: -ms-gradient(linear, left top, left bottom, from(#f8f1b8),to(#faebae)); 	box-shadow: 0 2px 3px rgba(000,000,000,0.13);*/
}

/*titlebar*/
.titleBar
{
    width: 100%;
    background: #00A2CA;
    line-height: 44px;
    height: 44px;
    text-align: center;
}
.titleBar a
{
    text-decoration: none;
}
.titleBar span
{
    color: White;
    font-size: 20px;
}
.leftHeadBar
{
    float: left;
    width: 84px;
    height: 44px;
    position: relative;
}
.leftHeadBar img, .leftHeadBar span
{
    width: 50px;
    height: 31px;
    position: absolute;
}
.leftHeadBar img
{
    left: 4px;
    top: 7px;
}
.leftHeadBar span
{
    cursor: pointer;
    left: 4px;
    top: 6px;
    display: block;
    color: White;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    line-height: 31px;
    text-shadow: 1px 1px 1px #3a6488;
}
.rightHeadBar
{
    float: right;
    width: 84px;
    height: 44px;
}
.rightHeadBar a
{
    float: right;
    padding-right: 8px;
    padding-top: 10px;
}
.rightHeadBar span
{
    width: 34px;
    height: 26px;
    display: block;

    background-repeat: no-repeat;
}
.linkSearch span
{
    background-position: -71px 0px;
}
.linkFavor span
{
    background-position: -115px 0px;
}
#p_Title
{
    text-shadow: 1px 1px 1px #3a6488;
}



/*responsive*/
@media only screen and (max-width:320px)
{
    div.line
    {
        background: transparent;
        border-top: 1px solid #CACACA;
        box-shadow: 0 1px 1px #fff;
        -webkit-box-shadow: 0 1px 1px #fff;
        -moz-box-shadow: 0 1px 1px #fff;
        -o-box-shadow: 0 1px 1px #fff;
        -ms-box-shadow: 0 1px 1px #fff;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2)
{
    /*iphone4 only*/
    .titleBar
    {
        background-size: auto 44px;
        -webkit-background-size: auto 44px;
        -moz-background-size: auto 44px;
    }
}

/*һ������16px��һ��ð��4px�������е�����Ϊ��������*/
.minwidth_3words
{
    min-width: 56px;
}
.minwidth_4words
{
    min-width: 72px;
}
.minwidth_5words
{
    min-width: 88px;
}
.minwidth_6words
{
    min-width: 104px;
}
.minwidth_7words
{
    min-width: 120px;
}

footer {
	margin: 8px 0 0 0; width: 100%; text-align: center; color: rgb(51, 51, 51); font-size: 100%;
}
footer{  background:#00a2ca;}


/*-������ʽ-*/
.header{ background:white; height:50px; position:fixed; top:0; width:100%; z-index:100; color:#444444; border-bottom: 1px solid #F98715;}
.common_box, .common_boxx{ margin-top:50px;}
.header_padding a{ color:white; }



.header a.yb{color:#00a2ca; line-height:50px; margin-left:8px; font-weight:bold; font-size:16px;}
