.tab_con{ display:none; padding:0 10px;}
.tab_con .con_ul{ border-bottom:1px solid #e6e6e6;}
.tab_con .con_ul li{ border-top:1px solid #e6e6e6; float:left; min-height:70px; padding-top:10px;padding-bottom:10px; position:relative; width:100%;}
.tab_con .con_ul li dt{ border:1px solid #e0e0e0; border-radius:50%; height:51px; padding:3px; width:51px;}
.fl{ float:left;}
.tab_con .con_ul li dt a{ display:block; height:51px; width:51px; overflow:hidden;}
.tab_con .con_ul li dt a img{ border:0 none; height:auto; max-width:100%; vertical-align:top;}
.tab_con .con_ul li dd{ margin:0 70px;}
.tab_con .con_ul li dd h3{  font-size:14px; font-weight:bold; line-height:28px;}
.tab_con .con_ul li dd h3 a{ color:#444444;}
.tab_con .con_ul li dd p{ color:#666; font-size:13px; line-height:22px;}
.tab_con .list_dow{ background-color:white;  font-size:13px; height:30px; line-height:30px; padding:0 14px 0 14px; right:8px; top:22px;
 border: 0.5px solid #f56400;border-radius: 3px;  font-weight: none !important;color: #f56400;float: left;margin-left: 13px;text-align: center;width: 90px;}
.abso{ position:absolute;}
.tab_con .con_ul li dd h3.iphone{ color:#068afb; font-size:14px; font-weight:normal; line-height:28px;}
.tab_con .con_ul li dd p.iphone{ color:#666; font-size:12px; line-height:22px;}


.stare p span.stare_co{
	color:#F56400; font-size:14px;
}

.text p {
	padding: 2px 10px 0px; line-height: 24px; font-size: 13px;
}
.text p.c3 {
	color: rgb(51, 51, 51);
}
.text p b {
	color: rgb(51, 51, 51);
}
.text p span {
	color: #444444;

}
.stare .srare_we, .srare_we{
	    font-size: 14px;
    color: #444444;
    font-weight: bold;
    margin-top: 8px;
    display: inline-block;
}
.ser-attention{background:#F98715;
    display: inline-block;
    height: 6px;
    margin-right: 5px;
    vertical-align: middle;
    width: 7px;position: relative;
    top: -2px;}
.nchanp_choice{ float:right; width:820px;}
.choice_o{ float:left; width:100%; }
.choice_o p select{height:25px;width:114px; margin-left:8px; border:1px solid #e1e1e1;font-family:微软雅黑;}
.choice_o ul li{ float:none;   line-height:25px;margin-top: 20px;margin-bottom: -5px; width: 200px;}
.choice_o ul li a, .pj_t ul li a{ color:#484d56; display: block; text-align: center;}
.choice_o ul{ float:left; position:relative; margin-left: 10px;}
.cho_r{ margin-right:17px;}
.choice_o span{ float:left; font-size:20px; position:relative; top:10px; color:#444444;  }
.cho_btn{ float:right; background:#95bc21; color:white; padding:10px 80px; border-radius:5px; margin-right:10px;}
.cp_img{ margin:5px 6px; float:left;}
.cp_imgbox{ width:200px; float:left; border-bottom:1px dashed #e1e1df;}
.cp_imgbox a{ float:left; line-height:25px; width:130px;}
.fwtd ul li{ float:left; padding:10px 15px; width:130px;}
.fwtd ul li img{ margin:0 0 0 18px;}
.logo_zy{ background:#e74c3c; color: white; padding:3px 5px; float:left; border-radius:3px; position:relative; top:10px; margin-left:40px;}
.logo_yh{ background:#e74c3c; color: white; padding:3px 5px; border-radius:3px; position:relative;font-size:12px;}
.choice_o ul li a{border:1px solid #e1e1e1;}
.choice_o ul li a.cho_hover{ background:#F98715; color:white; width: 200px; border:none;} */
.dljz_npbtwo td table.dljz_none td{ padding:0;}


.wdzh_box{ width:98%; margin:0 auto; background:white; border:1px solid #D0D0D0; border-radius:4px; padding:5px;}
.wdzh_box span{ color:#F98715; font-size:18px; font-weight:bold; margin-right:5px;}
.wdzh_box p{ font-size:14px; margin:10px 0;}
.wdzh_boxtwo{ width:100%;}
.wdzh_boxtwo p{ font-size:14px;}
.wdzh_boxtwo td{ padding:5px 8px; border-bottom:1px dashed rgb(221, 221, 221);}
.wdzh_boxtwo span{color: #d92a00; font-size: 18px;}
.wdzh_bottombtn{ width:100%; border-top:1px solid rgb(221, 221, 221); height:40px; background:white;}
.wdzh_btnn{ padding: 5px; text-align: center;}
.wdzh_bottombtn button{-moz-appearance: none; -moz-user-select: none; background:#F56400; border: medium none; border-radius: 3px; color: white; display: block; font-size: 1em; font-weight: normal; line-height: 1; padding: 1em; text-align: center; width: 100%;}
